#footer_info {
	@include clearfix();
	border {
		top: 1px solid white;
	}

	p {
		text-align:center;
		color:white;
	}
	p:last-child {
		color:#7F91A2 !important;
	}
	a {
		color:inherit;
	}
	a:hover {
		 color:#1DD2AF;
	}
	i {
		color:black;
	}

}