#page_header {
	.c-info {
		background:#2c3e50;
		 
	}
	ul.c-list {
		margin:0;
		li {
			line-height:37px;
			color:white;
			@include inline-block;
			padding: 0 15px;
			border: {
				right:solid #28323c 1px;
			}
			i { 
				margin: {
					right:7px;
				}
			}
			@include box-shadow(1px 0 #36485a);
		}
	}
	ul.social {
		margin:0;
		li {
		 	@include inline-block;
		 	margin: 0 !important;
		 	line-height:37px;
		 	padding: 0 10px;
		 	border: {
				right:solid #28323c 1px;
				left:solid #28323c 1px;
			}
			i {
				color:white;
			}
			
		}
	}
	.dropdown {
	
	}
}